* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	
	padding: 0px;
	margin: 0px;
	color: inherit;
}

body {
	color: white;
	background-color: #161616;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 66.67%;
	-webkit-font-smoothing: antialiased;
	
	background-image: -webkit-gradient(linear, left top, left bottom, from(hsl(0, 0%, 0%)), to(hsl(0, 0%, 9%)));
	background-image: -webkit-linear-gradient(top, hsl(0, 0%, 0%), hsl(0, 0%, 9%));
	background-image: -moz-linear-gradient(top, hsl(0, 0%, 0%), hsl(0, 0%, 9%));
	background-image: -o-linear-gradient(top, hsl(0, 0%, 0%), hsl(0, 0%, 9%));
	background-image: -ms-linear-gradient(top, hsl(0, 0%, 0%), hsl(0, 0%, 9%));
	background-image: linear-gradient(top, hsl(0, 0%, 0%), hsl(0, 0%, 9%));
}

header {
	height: 460px;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

a.logo {
	display: block;
	position: absolute;
	
	width: 176px;
	height: 96px;
	
	overflow: hidden;
	
	background-image: url(../images/speaker-label.png);
	background-repeat: no-repeat;
	
	margin-top: 320px;
	margin-left: 111px;
}

a.logo h1 {
	margin-left: 200px;
}

[main] {
	display: block;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 4em;
	line-height: 2em;
}

h1 {
	font-size: 4em;
	line-height: 1.5em;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	font-weight: normal;
}

h2 {
	font-size: 2em;
	color: #AAA;
	font-weight: lighter;
}

p {
	margin-bottom: 2em;
	font-size: 1.5em;
	line-height: 2em;
}

section {
	margin-bottom: 8em;
}

article section h1 {
	min-height: 4em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	width: 60%;
	text-shadow:hsla(333, 88%, 15%, 1) 1px 1px 0px,
				hsla(333, 88%, 15%, 1) 2px 2px 0px,
				hsla(333, 88%, 15%, 1) 3px 3px 0px,
				black 0px 0px 3px;
	color: hsla(333, 88%, 50%, 1);
}

article section.alternate h1 {
	text-shadow:hsla(40, 88%, 15%, 1) 1px 1px 0px,
				hsla(40, 88%, 15%, 1) 2px 2px 0px,
				hsla(40, 88%, 15%, 1) 3px 3px 0px,
				black 0px 0px 3px;
	color: hsla(40, 88%, 50%, 1);
	text-align: right;
	
	width: 100%;
	padding-left: 40%;
	padding-right: 1em;
}

section > p {
	padding-right: 1em;
}

article section .col {
	width: 50%;
	float: left;
}

section.intermediate {
	width: 100%;
	padding: 2em;
	margin-left: -2em;
	margin-right: -2em;
	border: solid rgba(255,255,255,0.09) 1px;
	border-radius: 10px;
	box-shadow: black 0px 2px 2px;
}

section.fourcol {
	overflow: hidden;
}

.col {
	float: left;
	min-width: 150px;
}

section.fourcol .col {
	width: 25%;
	padding-right: 2em;
	
	text-align: center;
}

section > *:last-child:after {
	content: "　";
	clear:both;
	position: absolute;
}

.col h3 {
	font-size: 1.5em;
	min-height: 3em;
	color: #a17500;
}

.col p:nth-child(odd) {
	min-height: 8em;
	font-size: 1.3em;
}

.col p:last-child {
	font-size: 1.3em;
}

a {
	color: #AAA;
	text-shadow: black 1px 1px 0px;
}

.icon {
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
}

pre {
	font-size: 1.3em;
	font-family: Menlo, Consolas, Monaco, "Lucida Console", monospace;
	tab-size: 4;
	line-height: 1.7em;
	padding-left: 1em;
	margin-bottom: 4em;
}

pre atrule {
	color: goldenrod;
}

pre test {
	color: #228890;
}

pre comment {
	color: #777;
}

pre bareword {
	color: #8e124a;
}

pre selector {
	font-weight: bold;
	color: #52931c;
}

pre barewordvalue, pre comparison {
	color: #AAA;
	font-weight: lighter;
	font-style: oblique;
}

pre regex {
	color: #b91620;
}