* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	
	padding: 0px;
	margin: 0px;
	color: inherit;
}

body {
	color: white;
	background-color: #161616;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 66.67%;
	-webkit-font-smoothing: antialiased;
	
	background-image: -webkit-gradient(linear, left top, left bottom, from(hsl(0, 0%, 0%)), to(hsl(0, 0%, 9%)));
	background-image: -webkit-linear-gradient(top, hsl(0, 0%, 0%), hsl(0, 0%, 9%));
	background-image: -moz-linear-gradient(top, hsl(0, 0%, 0%), hsl(0, 0%, 9%));
	background-image: -o-linear-gradient(top, hsl(0, 0%, 0%), hsl(0, 0%, 9%));
	background-image: -ms-linear-gradient(top, hsl(0, 0%, 0%), hsl(0, 0%, 9%));
	background-image: linear-gradient(top, hsl(0, 0%, 0%), hsl(0, 0%, 9%));
}

header {
	height: 460px;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

a.logo {
	display: block;
	position: absolute;
	
	width: 176px;
	height: 96px;
	
	overflow: hidden;
	
	background-image: url(../images/speaker-label.png);
	background-repeat: no-repeat;
	
	margin-top: 320px;
	margin-left: 111px;
}

a.logo h1 {
	margin-left: 200px;
}

[main] {
	display: block;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 4em;
	line-height: 2em;
}

h1 {
	font-size: 4em;
	line-height: 1.5em;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	font-weight: normal;
}

h2 {
	font-size: 2em;
	color: #AAA;
	font-weight: lighter;
}

p {
	margin-bottom: 2em;
	font-size: 1.5em;
	line-height: 2em;
}

section {
	width: 60%;
	margin-bottom: 8em;
}

article section h1 {
	position:relative;
	background-color: #500031;
	min-height: 4em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

article section h1:before {
	content: "　";
	display: block;
	position: absolute;
	background-color: #500031;
	width: 500%;
	height: 4em;
	top: 0px;
	margin-left: -500%;
}

article section.alternate h1:before {
	display: none;
}

article section.alternate h1 {
	padding-left: 0.5em;
	background-color: #005046;
}

article section.alternate h1:after {
	content: "　";
	display: block;
	position: absolute;
	background-color: #005046;
	width: 500%;
	height: 4em;
	top: 0px;
	margin-right: -500%;
	z-index: -1;
}

section > p {
	padding-right: 1em;
}

section.intermediate {
	width: 100%;
	padding: 2em;
	margin-left: -2em;
	margin-right: -2em;
	border: solid rgba(255,255,255,0.09) 1px;
	border-radius: 10px;
	box-shadow: black 0px 2px 2px;
}

section.fourcol {
	overflow: hidden;
}

.col {
	float: left;
}

section.fourcol .col {
	width: 25%;
	padding-right: 2em;
}

section.alternate {
	margin-left: 40%;
}
