speaker, speaker * {
	display: block;
}

speaker {
	position: absolute;
	
	width: 1200px;
	height: 461px;
	
	margin-left: -600px;
	left: 50%;
	
	background-color: #353535;
	background-image: url("../images/grain.png"), url("../images/noise.png"), -webkit-gradient(radial, 50% 50%,0,50% 50%,200, from(hsl(0, 0%, 7%)), to(hsl(0, 0%, 21%)));
	background-image: url("../images/grain.png"), url("../images/noise.png"), -webkit-radial-gradient(50% 50%, hsl(0, 0%, 21%), hsl(0, 0%, 7%));
	background-image: url("../images/grain.png"), url("../images/noise.png"), -moz-radial-gradient(50% 50%, hsl(0, 0%, 21%), hsl(0, 0%, 7%));
	background-image: url("../images/grain.png"), url("../images/noise.png"), -o-radial-gradient(50% 50%, hsl(0, 0%, 21%), hsl(0, 0%, 7%));
	background-image: url("../images/grain.png"), url("../images/noise.png"), -ms-radial-gradient(50% 50%, hsl(0, 0%, 21%), hsl(0, 0%, 7%));
	background-image: url("../images/grain.png"), url("../images/noise.png"), radial-gradient(50% 50%, hsl(0, 0%, 21%), hsl(0, 0%, 7%));
	
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	
	background-position: left top, left top, center center;
	background-repeat: repeat, repeat, no-repeat;
	
	border: solid black 1px;
	
	box-shadow: inset rgba(0,0,0,1) 0px 0px 5px,
				inset rgba(0,0,0,1) 0px -7px 27px,
				rgba(0,0,0,0.75) 0px 5px 5px;
}

driver, driver *, driver *:before, driver *:after {
	border-radius: 50%;
	position: absolute;
	left: 50%;
	background-color: #131212;
}

driver {
	width: 857px;
	height: 857px;
	
	margin-left: -428px;
	margin-top: -445px;
	
	box-shadow:	inset black 0px 0px 9px,
				rgba(255,255,255,0.2) 0px 0px 3px;
	
	background-image: url("../images/noise.png");
}

surround {
	width: 770px;
	height: 770px;
	
	margin-left: -385px;
	margin-top: 43px;
	
	box-shadow:	inset rgba(0,0,0,0.9) 0px 0px 92px,
				rgba(255,255,255,0.33) 0px 0px 3px;

	background-image: url("../images/noise.png");
}

cone {
	width: 660px;
	height: 660px;
	
	margin-left: -330px;
	margin-top: 55px;
	
	box-shadow:	inset rgba(0,0,0,0.69) 0px 0px 43px,
				rgba(255,255,255,0.33) 0px 12px 26px;
}

coneinner, coneinner:after, coneinner:before {
	width: 626px;
	height: 626px;
	
	margin-left: -313px;
}

coneinner {
	margin-top: 17px;
	
	box-shadow:	inset rgba(0,0,0,0.69) 0px 0px 9px;
	
	background-image: url("../images/noise.png"), -webkit-gradient(linear, left center, right center, from(hsla(0, 0%, 39%, 0.30)), to(hsla(0, 0%, 0%, 0.10)));
	background-image: url("../images/noise.png"), -webkit-linear-gradient(left, hsla(0, 0%, 39%, 0.30), hsla(0, 0%, 0%, 0.10));
	background-image: url("../images/noise.png"), -moz-linear-gradient(left, hsla(0, 0%, 39%, 0.30), hsla(0, 0%, 0%, 0.10));
	background-image: url("../images/noise.png"), -o-linear-gradient(left, hsla(0, 0%, 39%, 0.30), hsla(0, 0%, 0%, 0.10));
	background-image: url("../images/noise.png"), -ms-linear-gradient(left, hsla(0, 0%, 39%, 0.30), hsla(0, 0%, 0%, 0.10));
	background-image: url("../images/noise.png"), linear-gradient(left, hsla(0, 0%, 39%, 0.30), hsla(0, 0%, 0%, 0.10));

}

coneinner:before {
	/* It's a space, but a japanese space. So I think it works. */
	content: "　";
	
	display: block;
	position: absolute;
	
	background-image: -webkit-gradient(radial, 50% 50%,0,50% 50%,200, from(hsla(0, 0%, 0%, 1.00)), to(hsla(0, 0%, 17%, 0.50)));
	background-image: -webkit-radial-gradient(50% 50%, hsla(0, 0%, 17%, 0.50), hsla(0, 0%, 0%, 1.00));
	background-image: -moz-radial-gradient(50% 50%, hsla(0, 0%, 17%, 0.50), hsla(0, 0%, 0%, 1.00));
	background-image: -o-radial-gradient(50% 50%, hsla(0, 0%, 17%, 0.50), hsla(0, 0%, 0%, 1.00));
	background-image: -ms-radial-gradient(50% 50%, hsla(0, 0%, 17%, 0.50), hsla(0, 0%, 0%, 1.00));
	background-image: radial-gradient(50% 50%, hsla(0, 0%, 17%, 0.50), hsla(0, 0%, 0%, 1.00));
}

ribs {
	width: 568px;
	height: 568px;
	
	z-index: 10;
	
	margin-top: 29px;
	margin-left: -284px;
	
	position: relative;
	background-color: transparent;
}

ribs rib {
	border-bottom:	solid rgba(255,255,255,0.2) 2px;
	border-left:	solid rgba(80,80,80,0.1) 2px;
	border-right:	solid rgba(80,80,80,0.2) 2px;
	border-bottom:	solid rgba(0,0,0,0.1) 2px;
	background-color: transparent;
	
	box-shadow: black 0px 2px 2px,
				inset rgba(255,255,255,0.04) 0px -2px 2px;
	
	left: 0px;
}

ribs rib:nth-child(1) {
	width: 100%;
	height: 100%;
}

ribs rib:nth-child(2) {
	width: 529px;
	height: 529px;
	
	margin-top: 20px;
	margin-left: 20px;
}

ribs rib:nth-child(3) {
	width: 492px;
	height: 492px;
	
	margin-top: 38px;
	margin-left: 38px;
}

ribs rib:nth-child(4) {
	width: 453px;
	height: 453px;
	
	margin-top: 58px;
	margin-left: 58px;
}

ribs rib:nth-child(5) {
	width: 412px;
	height: 412px;
	
	margin-top: 79px;
	margin-left: 79px;
}

ribs rib:nth-child(6) {
	width: 371px;
	height: 371px;
	
	margin-top: 100px;
	margin-left: 100px;
}

ribs rib:nth-child(7) {
	width: 330px;
	height: 330px;
	
	margin-top: 120px;
	margin-left: 120px;	
}

ribs:after {
	/* It's a space, but a japanese space. So I think it works. */
	content: "　";
	
	width: 658px;
	height: 658px;
	
	margin-left: -329px;
	margin-top: -54px;
	
	z-index: 11;
	
	background: url("../images/noise.png"), -moz-linear-gradient(left, rgba(20,20,20,0.6) 0%, rgba(20,20,20,0.6) 25%, rgba(50,50,50,0.6) 50%, rgba(20,20,20,0.6) 75%, rgba(20,20,20,0.6) 100%); /* FF3.6+ */
	background: url("../images/noise.png"), -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(20,20,20,0.6)), color-stop(25%,rgba(20,20,20,0.6)), color-stop(50%,rgba(50,50,50,0.6)), color-stop(75%,rgba(20,20,20,0.6)), color-stop(100%,rgba(20,20,20,0.6))); /* Chrome,Safari4+ */
	background: url("../images/noise.png"), -webkit-linear-gradient(left, rgba(20,20,20,0.6) 0%,rgba(20,20,20,0.6) 25%,rgba(50,50,50,0.6) 50%,rgba(20,20,20,0.6) 75%,rgba(20,20,20,0.6) 100%); /* Chrome10+,Safari5.1+ */
	background: url("../images/noise.png"), -o-linear-gradient(left, rgba(20,20,20,0.6) 0%,rgba(20,20,20,0.6) 25%,rgba(50,50,50,0.6) 50%,rgba(20,20,20,0.6) 75%,rgba(20,20,20,0.6) 100%); /* Opera 11.10+ */
	background: url("../images/noise.png"), -ms-linear-gradient(left, rgba(20,20,20,0.6) 0%,rgba(20,20,20,0.6) 25%,rgba(50,50,50,0.6) 50%,rgba(20,20,20,0.6) 75%,rgba(20,20,20,0.6) 100%); /* IE10+ */
	background: url("../images/noise.png"), linear-gradient(to right, rgba(20,20,20,0.6) 0%,rgba(20,20,20,0.6) 25%,rgba(50,50,50,0.6) 50%,rgba(20,20,20,0.6) 75%,rgba(20,20,20,0.6) 100%); /* W3C */
	
	box-shadow: inset black 0px 0px 50px;
}

dome {
	height: 250px;
	width: 250px;
	
	left: 0px;
	top: 0px;
	
	margin-left: 188px;
	margin-top: 188px;
	
	z-index: 11;
	
	background-color: #464646;
	background-image: url("../images/noise.png"), -webkit-gradient(radial, 50% 50%,0,50% 50%,200, from(hsl(0, 0%, 5%)), to(hsl(0, 0%, 27%)));
	background-image: url("../images/noise.png"), -webkit-radial-gradient(50% 50%, hsl(0, 0%, 27%), hsl(0, 0%, 5%));
	background-image: url("../images/noise.png"), -moz-radial-gradient(50% 50%, hsl(0, 0%, 27%), hsl(0, 0%, 5%));
	background-image: url("../images/noise.png"), -o-radial-gradient(50% 50%, hsl(0, 0%, 27%), hsl(0, 0%, 5%));
	background-image: url("../images/noise.png"), -ms-radial-gradient(50% 50%, hsl(0, 0%, 27%), hsl(0, 0%, 5%));
	background-image: url("../images/noise.png"), radial-gradient(50% 50%, hsl(0, 0%, 27%), hsl(0, 0%, 5%));
	
	box-shadow: inset rgba(0,0,0,0.5) 0px 0px 15px,
				rgba(0,0,0,1) 0px 0px 5px,
				rgba(0,0,0,0.63) 0px 13px 14px;
	
	border: solid 1px black;
}